---
---

<div class="border-t border-gray-600 pt-5">
  <div class="text-sm text-gray-200">
    © Copyright 2023 por javleds. Todos los derechos reservados
    <a class="text-cyan-400 hover:underline" href="https://creativedesignsguru.com" target="_blank" rel="noopener noreferrer">
      CreativeDesignsGuru
    </a>.
  </div>
</div>