---
---

<div class="border-t border-gray-600 pt-5 pb-6">
  <div class="text-sm text-gray-200">
    &copy; Copyright 2023 por Javier Ledezma. 
    Todos los derechos reservados.

    <p>
      Blog inspirado en diseño de
      <a class="text-cyan-400 hover:underline" href="https://github.com/ixartz/Astro-boilerplate" target="_blank" rel="noopener noreferrer">
        Astro bolerplate
      </a>.
    </p>
    
  </div>
</div>