---
import AppLayout from '../../layouts/app-layout.astro';
import PostCard from '../../components/post-card.astro';

import { sortByDate } from '../../utils/posts';
import { config } from '../../utils/config';

const { title } = config;
const { description } = config;
const posts = sortByDate(await Astro.glob('./*.md')).slice(0, 20);
---
<AppLayout head={{ title, description }}>
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="text-center">
      <h1 class="text-3xl font-bold">Random title here</h1>
      <div class="mt-3 text-gray-200">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
    </div>
  </div>
  
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="grid grid-cols-1 gap-6 md:grid-cols-3">
      {posts.map(post => <PostCard post={post} />)}
    </div>
  </div>
  
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <div class="flex justify-center gap-8">
      <a href="/demo/astro-boilerplate/posts/2/">
        Older Posts →
      </a>
    </div>
  </div>
</AppLayout>../utils/config