---
import PostCard from '@/components/blog/post-card.astro';

import { routes } from '@/utils/routes';
import Highlight from '../highlight.astro';

const { posts, title, highlight } = Astro.props;
---

<section class="py-6">
  <header class="mb-6 text-2xl font-bold">
    <div class="flex items-baseline justify-between">
      <div>
        {title + ' '}
        <Highlight>{ highlight }</Highlight> 
      </div>
      <div class="text-sm">
        <a href={routes.blog}>View all Posts →</a>
      </div>
    </div>
  </header>

  <section class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {posts.map(post => <PostCard post={post} />)}
  </section>
</section>