---
import PostCard from '@/components/blog/post-card.astro';

const { posts } = Astro.props;
---

<section class="py-6">
  <header class="mb-6 text-2xl font-bold">
    <div class="flex items-baseline justify-between">
      <div>
        Recent 
        <span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">
          Posts
        </span>
      </div>
      <div class="text-sm">
        <a href="/posts/">View all Posts →</a>
      </div>
    </div>
  </header>

  <section class="grid grid-cols-1 gap-6 md:grid-cols-3">
    {posts.map(post => <PostCard post={post} />)}
  </section>
</section>