---
import ResourceEntry from '@/components/resource-entry.astro';
import Highlight from '@/components/highlight.astro';

const { entries, title, titleHighlight  } = Astro.props;
---

<section class="py-6">
  <header class="mb-6 text-2xl font-bold">
    {title + ' '}
    <Highlight>{titleHighlight}</Highlight>
  </header>
  
  <section class="flex flex-col gap-6">
    {entries.map(entry => <ResourceEntry entry={entry} />)}
  </section>
</section>